<!-- Include the ArcGIS API CSS file -->
<div id="mapView" style="height: 100vh; width: 100%"></div>
<!--<button id="startDrawingButton">Start Drawing</button>-->
<button id="undoDrawingButton"><i class="material-icons">undo</i></button>
<button id="clearDrawingButton" class="round-button">
  <span class="icon">✖</span>
</button>
<button id="submitDrawingButton" class="round-button">
  <span class="icon">✔</span>
</button>
<button id="addVertexButton" class="round-button">
  <span class="icon">+</span>
</button>
<button id="addPolygon"><i class="material-icons">border_all</i></button>
<input type="checkbox" id="myCheckbox">
<label for="myCheckbox" id="hidebuttons">minil aakhir baqa yaa zalame buttons</label>
